
body {
    background: #182445;
    font-family: Arial;
}
h1 {
    color: red;
}
/* 4y60k8acMYraJhcvawLPiUhofrkh9ytB7pg9dpIpk2fc1KHh0LGhEXjr2WaalEqisuSG3GoleUdKhwP9lmQwQcrHAjEnRxRRDXGg9Uv1UDHhpMcybjqwMbF0ttOPYCYCD1Qmy45eOnfe9Imzi8bLNNd2VFrSAz5QgB1PR1Om2VfZDNKoJP1hEjP5RI8VTQ77vL5MDoXH */
